/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
:root {
  --color_1: #ea6387;
  --color_2: #d50145;
  --color_3: #f1f2f2;
  --color_4: #cb0033;
  --color_5: #ef90a9;
}

body {
  margin: 0;
  background-color: var(--color_3);
}

#root {
  height: 100vh;
  overflow-y: auto;
}

.bg_pizza {
  background-image: url("/bg_pizza.jpg");
  background-position: center;
  background-size: cover;
}

.size_screen {
  min-height: 920px;
  max-height: 100vh;
}

@media (min-width: 720px) {
  .size_screen_2 {
    min-height: 920px;
    max-height: 100vh;
  }
}

@media (max-width: 420px) {
  .size_screen {
    min-height: 100vh;
  }
  .odd:nth-of-type(odd) {
    flex-direction: row-reverse;
  }
}

.center {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
